# Craig'n'Dave videos

1.   [Data types](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-1-data-types)
2.   [Basic constructs](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-2-basic-constructs)
3.   [Variables & constraints](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-3-variables-and-constants)
4.   [Mathematical operators](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-4-mathematical-operators)
5.   [String handling](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-5-string-handling)
6.   [Random numbers](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-6-random-numbers)

# Data Types

In [1]:
import datetime
test_variable = 2+ 3j
print(test_variable, type(test_variable))

(2+3j) <class 'complex'>

In [2]:
print('1/2', 1/2,type(1/2))
print('1//2', 1//2,type(1/2))
print('10//3', 10//3,type(10//3))
print('10.0//3',10.0//3,type(10.0//3))
print('10.0/3', 10.0/3,type(10.0/3))
print(type(15/5.0))
print(type(15//5.0))
# print(type(5/0))

1/2 0.5 <class 'float'>
1//2 0 <class 'float'>
10//3 3 <class 'int'>
10.0//3 3.0 <class 'float'>
10.0/3 3.3333333333333335 <class 'float'>
<class 'float'>
<class 'float'>

In [3]:
from sys import getsizeof
test_var = 2 #set([1,2,3,4,5,6,7,8,9])
print(test_var, type(test_var), getsizeof(test_var))

2 <class 'int'> 28

# Conditions

## `if...elif...else` statements

- [Craig'n'Dave](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-2-basic-constructs)
- [w3schools](https://www.w3schools.com/python/python_conditions.asp)

## If expression (or ternary operator)

`value_if_true if condition else value_if_false`

In [4]:
fruit = 'banana'
colour = 'yellow' if fruit == 'banana' else 'green'
print(f'{fruit} is {colour}')

banana is yellow

Another, even shorter version is:
`boolean or value_if_false`
This works because zero or empty variables are usually interpretted as False by Python.

In [5]:
fruit1 = True or 'pear'
fruit2 = False or 'banana'
print(fruit1, fruit2)
message = ""
print(message or "Message is blank")

True banana
Message is blank

# Iteration
Iteration can be _definite_ or _indefinite_. 
Definite iterations loop for a pre-determined number of times. This is usally achieved with a `for` loop
Indefinite iterations have a test condition is checked every time through the loop. The loop only continues if the condition is met. This is usually acheived with a `while` loop.


Loops are often be _counter controled_. This could be achieved using definite or indefinite iteration though a `for` loop is probably the best option.

## `for` loops
- [Craig'n'Dave](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-2-basic-constructs)
- [w3schools](https://www.w3schools.com/python/python_for_loops.asp)

In [6]:
# you can use this to iterate through items in a list, too
wordList = ['Python','programming','rocks']
for eachWord in wordList:
	print(eachWord)

Python
programming
rocks

In [7]:
# to iterate through an item and have both count and value to manipulate
wordList = ['Python','programming','rocks']
for count, eachWord in enumerate(wordList, 1):
  print(f'{count}. {eachWord}')
  #print(eachWord)

1. Python
2. programming
3. rocks

## using `range(a,b,c)`
- produces a sequence of numbers `a≤x<b` in steps of `c` 
- [w3schools](https://www.w3schools.com/python/ref_func_range.asp)

In [8]:
for x in range(10, 15, 2):
  print(x)

10
12
14

In [9]:
# you can use this to go backwards, too **as long as you have a negative step-size and your start & end indices are the right way around**
for i in range(34, 20, -2):
	print(i)

34
32
30
28
26
24
22

In [10]:
wordList = ['Python','programming','rocks']
for i in range(len(wordList)):
  print(f'{i}. {wordList[i]}')

0. Python
1. programming
2. rocks

In [11]:
wordList = ['Python','programming','rocks']
for number, word in enumerate(wordList):
  print(number, word)

0 Python
1 programming
2 rocks

## `while` loops
- [Craig'n'Dave](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-2-basic-constructs)
- [w3schools](https://www.w3schools.com/python/python_while_loops.asp)

In [12]:
i = 34
while i > 20:
  print(i)
  i = i - 2

34
32
30
28
26
24
22

## Example of indefinite, definite and recursive iteration

In [13]:
# Calculate factorial n using indefinite iteration
def factorial_indefinite(n):
    total = 1
    i = 1
    while i <= n:
        total = total * i
        i += 1
    return total


# Calculate factorial n using definite iteration
def factorial_definite(n):
    total = 1
    for i in range(1, n+1):
        total = total * i
    return total


# Calculate factorial n using a recursion
def factorial_recursive(n):
    if n == 1:
        return 1
    else:
        return n * factorial_recursive(n-1)


value = 7
print(factorial_indefinite(value))
print(factorial_definite(value))
print(factorial_recursive(value))

5040
5040
5040

# Lists
- [Craig'n'Dave](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-1-data-types)
- [w3schools](https://www.w3schools.com/python/python_lists.asp)

In [14]:
pets = ['goldfish', 'cat', 'dog']
print(pets[1])

cat

Note that lists in Python are “zero indexed” - the first item is 0.

| Index | 0          | 1     | 2     |   |
|-------|------------|-------|-------|---|
| pets  | 'goldfish' | 'cat' | 'dog' |   |

- `list.append(item)` adds item to the end of the list
- `list.insert(0, item)` adds an item into position 0

In [15]:
pets = ['goldfish', 'cat', 'dog']
wild_animals = ['lion', 'tiger', 'bear']
animals = pets + wild_animals

animals.append('monkey')
animals.insert(0, 'gerbil')

print(animals)
#animals.append(wild_animals)
#print(animals)
#print(animals[:-3:-1])

['gerbil', 'goldfish', 'cat', 'dog', 'lion', 'tiger', 'bear', 'monkey']

## List Slicing
| | |
|--|--|
|`a[start:stop]`|items from `start` up to, but not including, `stop`.|
|`a[start:]`|items from `start` to the end|
|`a[:stop]`|items from the beginning up to, but not including, `stop`.|
|`a[:]`|a copy of the whole array|
| `a[start:stop:step]` | items from `start` to `stop` (not including `stop`), going up by `step`. |
`a[1:10:2]` | The 1st, 3rd, 5th, 7th and 9th items. |
|`a[::-1]`|Stepping backwards through the list.|
|`a[:-3:-1]`|The last two items, reversed.|

In [16]:
print(animals[2:5])
print(animals[-2:-4])
print(animals * 5)
print([0] * 10)

['cat', 'dog', 'lion']
[]
['gerbil', 'goldfish', 'cat', 'dog', 'lion', 'tiger', 'bear', 'monkey', 'gerbil', 'goldfish', 'cat', 'dog', 'lion', 'tiger', 'bear', 'monkey', 'gerbil', 'goldfish', 'cat', 'dog', 'lion', 'tiger', 'bear', 'monkey', 'gerbil', 'goldfish', 'cat', 'dog', 'lion', 'tiger', 'bear', 'monkey', 'gerbil', 'goldfish', 'cat', 'dog', 'lion', 'tiger', 'bear', 'monkey']
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
name_list = ['Ed', 'William', 'Toby', 'Freddie', 'Rohan', 'Ian', 'Matthew', 'Gavin', 'Lenny', 'Thomas', 'Jake']

print(name_list[:-8:-1])

#for i in range(len(name_list)):
#  print(i, name_list[i])

for name in name_list[:-2]:
  print(name, end=', ')
print(name_list[-2], 'and', name_list[-1])

['Jake', 'Thomas', 'Lenny', 'Gavin', 'Matthew', 'Ian', 'Rohan']
Ed, William, Toby, Freddie, Rohan, Ian, Matthew, Gavin, Lenny, Thomas and Jake

In [18]:
name_list.append('Toby')
print(name_list)
print(name_list.index('Toby'))
print(name_list.count('Toby'))

['Ed', 'William', 'Toby', 'Freddie', 'Rohan', 'Ian', 'Matthew', 'Gavin', 'Lenny', 'Thomas', 'Jake', 'Toby']
2
2

## Getting information about a list:

| | |
|-|-|
|`x in my_list`|True if object x is in the list|
|`x not in my_list`|True if object x is not in the list|
|`len(my_list)`|The length of the list|
|`max(my_list)`|The largest item|
|`min(my_list)`|The smallest item|
|`sum(my_list)`|The sum of all the items|
|`lst.count(item)`|Returns the number of occurences of item in the list lst|
|`lst.index(item)`|Returns the index of the first occurence of item in the list|

In [19]:
nameList = ['Ed', 'William', 'Toby', 'Freddie', 'Rohan', 'Ian', 'Matthew', 'Gavin', 'Lenny', 'Thomas', 'Jake']

print(nameList)
for name in nameList[:-1]:
  print(name, end=', ')
print('and', nameList[-1])

#for i in range(len(nameList)):
#  print(i, nameList[i])

['Ed', 'William', 'Toby', 'Freddie', 'Rohan', 'Ian', 'Matthew', 'Gavin', 'Lenny', 'Thomas', 'Jake']
Ed, William, Toby, Freddie, Rohan, Ian, Matthew, Gavin, Lenny, Thomas, and Jake

## Manipulating lists
| | |
|-|-|
|`lst.pop()`|Removes the last item in the list and returns it.|
|`lst.remove(item)`|Removes the first occurence of item in the list|
`lst.reverse()`|Reverses the order of items in the list
`lst.sort()`|Sorts the list
|`my_list * n`|Joins n copies of the my_list into one big lists|

In [20]:
test_list = ['a', 'b','c','d']
print(test_list)
letter = test_list.pop(0)
print(letter, test_list)
test_list.insert(0, 'e')
print(test_list)
test_list.append('f')
print(test_list)

['a', 'b', 'c', 'd']
a ['b', 'c', 'd']
['e', 'b', 'c', 'd']
['e', 'b', 'c', 'd', 'f']

## List Comprehension

Official documentation:
https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

A useful website:
https://www.programiz.com/python-programming/list-comprehension

### Examples

In [21]:
# For every item in original_list, name the item x and put x into the new list.
original_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

new_list = [item+3 for item in original_list]
print(new_list)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [22]:
# For every item in original_list, name the item x and put x**2 into the new list.
original_list = range(10)
new_list = [x**2 for x in original_list]
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
# For every item in original_list, if it is divisible by 3, name the item x and put x into the new list.
new_list = [x for x in range(20) if x % 4 == 0]
print(new_list)

[0, 4, 8, 12, 16]

You _can_ do a lot in one line with list comprehension but that doesn't mean you _should_

In [24]:
original_list = [12, -5, 7, 2, 9, 13, -50, 45, -2, 20]
new_list = [i**3 if i > 0 else i for i in original_list if i % 5 == 0]
print(new_list)

[-5, -50, 91125, 8000]

### Nested and double list comprehension (aka list incomprehension)

In [25]:
# Nested list comprehension
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [26]:
# Double list comprehension
a = [1,2,3]
b = [7,8,9]
[(x,y) for x in a for y in b]

[(1, 7), (1, 8), (1, 9), (2, 7), (2, 8), (2, 9), (3, 7), (3, 8), (3, 9)]

In [27]:
# Flatten a list of lists 
# eg [[1, 2], [3,4], [5,6], [7,8]] -> [1, 2, 3, 4, 5, 6, 7, 8]

matrix = [[1, 2], [3,4], [5,6], [7,8]]
new_list = [y for x in matrix for y in x]
print(f'Using list comprehension: {new_list}')

# There are other ways of achieving the same thing
new_list = []
for row in matrix:
  for item in row:
    new_list.append(item)
print(f'Using nested for loops: {new_list}')

# This achieves the same thing. How?!
print(f'Using the sum() hack: {sum(matrix, [])}')

Using list comprehension: [1, 2, 3, 4, 5, 6, 7, 8]
Using nested for loops: [1, 2, 3, 4, 5, 6, 7, 8]
Using the sum() hack: [1, 2, 3, 4, 5, 6, 7, 8]

# Dictionaries

- [w3schools](https://www.w3schools.com/python/python_dictionaries.asp)

In [28]:
d = {0: 'Hello', 1: 'Bob', 4: 'Howdy', 'my_key': 'my_value'}
print(d['my_key'])

my_value

In [29]:
d = {}
d['Nick'] = 322
d['Joe'] = 254
print(d)
# print(d['Nick'])
print("\nItems\n-----")
for key, value in d.items():
  print(key, value)


print("\nKeys:")
for name in d.keys():
  print(name)


print("\nValues:")
for num in d.values():
  print(num)

if 'Nick' in d.keys():
  print('Nick has a score')

value = d.pop('Nick')
#del(d['ryan'])
print(d, value)
print(d)

{'Nick': 322, 'Joe': 254}

Items
-----
Nick 322
Joe 254

Keys:
Nick
Joe

Values:
322
254
Nick has a score
{'Joe': 254} 322
{'Joe': 254}

In [30]:
a1 = {'a':1, 'f':13, 'd':4, 'c':2, 'e':30}
print(a1.get('f'))
a2 = sorted(a1, key=a1.get)
for key in a2:
  print(key, a1[key])
#a1_sorted_keys = sorted(a1, key=a1.get, reverse=True)
#for r in a1_sorted_keys:
#    print(r, a1[r])

13
a 1
c 2
d 4
f 13
e 30

# Strings
- [Craig'n'Dave](https://student.craigndave.org/videos/aqa-alevel-slr01-introduction-to-programming-part-5-string-handling)
- [w3schools](https://www.w3schools.com/python/python_strings.asp)

## f-strings

- Only for Python versions 3.6 & above (this *will* work for the November test)
- [RealPython](https://realpython.com/python-f-strings/#f-strings-a-new-and-improved-way-to-format-strings-in-python)

In [31]:
name = "Bob"
age = 74
print('Hello', name, age)
print('Hello_'+ name + '_'+ str(age))

Hello Bob 74
Hello_Bob_74

In [32]:
# a nice way to insert the contents of variables, or the results of any string manipulation, into a string
# it's called that because you put an f before the start of the string!

name = "Bob"
age = 74
print(f"Hello, {name}. You are nearly {age+1}.")

Hello, Bob. You are nearly 75.

In [33]:
cost = 100 / 3
# print(f'Total cost: £{cost:.3f}')


for i in range(5):
  cost = cost /3
  print(f'The cost is £{cost:.2f}')

print(f'{4:02.0f}')

The cost is £11.11
The cost is £3.70
The cost is £1.23
The cost is £0.41
The cost is £0.14
04

## String Manipulation
You can treat strings like lists and access individual characters or substrings using string splicing.

There are also a number of functions that you can perform on strings. The following are all methods of the `string` class:

* `string.find(sub_string)`
* `string.count(sub_string)`
* `string.split(string_to_split_at)`
* `string.join(list_to_join)`
* `string.replace(string_to_find, string_to_replace)`

In [34]:
test_string = 'It was the best of times it was the worst of times.'

print(test_string)
# Reverse a string by using list splicing
print(test_string[::-1])

# Find the first occurrence of a substring
print(f"The word 'best' first occurs at position {test_string.find('best')}")

# Count the occurrences of a substring
print(f"The word 'times' occurs {test_string.count('times')} times.")

# Split a string into separate words
word_list = test_string.split(' ')
print(word_list)

# Join a list of strings together with a particular character
joined_string = '*-*'.join(word_list)
print(joined_string)

# replace a substring with another substring
print(joined_string.replace('*-*', ' '))

It was the best of times it was the worst of times.
.semit fo tsrow eht saw ti semit fo tseb eht saw tI
The word 'best' first occurs at position 11
The word 'times' occurs 2 times.
['It', 'was', 'the', 'best', 'of', 'times', 'it', 'was', 'the', 'worst', 'of', 'times.']
It*-*was*-*the*-*best*-*of*-*times*-*it*-*was*-*the*-*worst*-*of*-*times.
It was the best of times it was the worst of times.

# Classes & object-orientation

- [w3schools](https://www.w3schools.com/python/python_classes.asp)

# Object Orientated Programming
See [Google Slides](https://docs.google.com/presentation/d/1RYPNlH7DPejtm1vUa3USnOm81dKUnmVSzFpnyNCeq5E/edit?usp=sharing)

[w3schools](https://www.w3schools.com/python/python_classes.asp)

A comparison of Procedural and Object Orientated Programming: https://www.geeksforgeeks.org/differences-between-procedural-and-object-oriented-programming/

In [35]:
# A procedural program

def feed(state, size):
  size += 1
  print("Fish fed")
  if size == 5:
    state = "FISH"
  return state, size


thisFishState = "Fish"
thisFishSize = 1

print(thisFishState, "is of size", thisFishSize)

while thisFishState != "FISH":
  thisFishState, thisFishSize = feed(thisFishState, thisFishSize)

print("It is now a big", thisFishState)

Fish is of size 1
Fish fed
Fish fed
Fish fed
Fish fed
It is now a big FISH

In [36]:
# An OOP program

class Animal:
  def __init__(self, state, size):
    self._state = state
    self._size = size

  def feed(self):
    self._size += 1
    print("Fish fed")
    if self._size == 5:
      self._state = "FISH"

  def get_state(self):
    return self._state

  def get_size(self):
    return self._size
    
thisFish = Animal("Fish", 1)
print(thisFish._state)

print(thisFish.get_state(), "is of size", thisFish.get_size())

while thisFish.get_state() != "FISH":
  thisFish.feed()

print("It is now a big", thisFish.get_state())
if type(thisFish) is Animal:
  print("It's an animal")

Fish
Fish is of size 1
Fish fed
Fish fed
Fish fed
Fish fed
It is now a big FISH
It's an animal

In [37]:
my_list = [5,2,5,7,3,2,6,8]
sorted_list = sorted(my_list)
print(sorted_list)

[2, 2, 3, 5, 5, 6, 7, 8]

In [38]:
my_list = [5,2,5,7,3,2,6,8]
my_list.sort()
print(my_list)

[2, 2, 3, 5, 5, 6, 7, 8]

In [39]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

  def __str__(self):
    return f'A person named {self.name}'

p1 = Person("John", 36)
p1.myfunc()
print(p1)

Hello my name is John
A person named John

## docstrings

- Special comments, signified by triple speech marks, which go in the first line inside any class/method/function to explain what happens.
- Produce a really nice, neat printout when `help(class)` or `help(function)` is executed.

### Public, Private and Protected

In [40]:
class Person:
  def __init__(self, name, age, mothers_name):
    self.name = name        # Public member variable
    self._age = age         # Protected member variable
    self.__mothers_name = mothers_name  # Private variable

  def myfunc(self):
    print("Hello my name is " + self.name)

  def get_age(self):
    return self._age

  def get_mothers_name(self):
    return self.__mothers_name

  def __str__(self):
    return f'A person named {self.name}'

p1 = Person("John", 36, "Gertrude")
p1.myfunc()
print(p1)
p1.name = 'Sarah'
print(p1.name)    # Fine
print(p1._age)    # Illegal!!!! Mustn't access protected variables
print(p1.get_mothers_name())

Hello my name is John
A person named John
Sarah
36
Gertrude

In [41]:
class TestClass:
	"""This is a test class to demonstrate basic object-oriented functionality, written by JTT."""
	
	def __init__(self):
		"""The constructor for this class prints a confirmation statement, and stored the author's ID as an attribute."""
		print("test class instance created")
		self.author = "JTT"
	
	def ReportAuthor(self):
		"""This method prints the author of this class."""
		print("The author of this class is"+self.author)

# create an instance (this should trigger the constructor method)
my_instance_of_test_class = TestClass()

# print out the docstrings for this class and its attributes & methods
help(TestClass)

test class instance created
Help on class TestClass in module __main__:

class TestClass(builtins.object)
 |  This is a test class to demonstrate basic object-oriented functionality, written by JTT.
 |
 |  Methods defined here:
 |
 |  ReportAuthor(self)
 |      This method prints the author of this class.
 |
 |  __init__(self)
 |      The constructor for this class prints a confirmation statement, and stored the author's ID as an attribute.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

## Magic methods

## Operator Overloading

`__add__` is a magic function which overrides the `+` operator.

`x.__add__(y)`
is the same as 
`x + y`

See a complete list of _magic functions_ to overload operators here:
https://www.python-course.eu/python3_magic_methods.php

In [42]:
class Overloaded:
    def __init__(self, val):
        self.value = val
        
    def __add__(self, other):
       new_object = Overloaded(self.value + other.value)
       return new_object

x = Overloaded(3)
y = Overloaded(4)

z = x + y
print(f'The value of x + y is {z.value}')

# w = x.__add__(y)
# print(f'The value of x._add__(y) is {w.value}')

The value of x + y is 7

`__iadd__()` and related _inplace operators_ don't work quite as you might expect. You need to return an object that then gets assigned to the original variable automatically _behind the scenes_. In most cases it will probably look identical to  `__add__()`

In [43]:
class Overloaded:
    def __init__(self, val):
        self.value = val
        
    def __iadd__(self, other):
        self.value = self.value + other.value
        return self

x = Overloaded(3)
y = Overloaded(4)

print(f'The value of x is {x.value}')
x += y
print(f'The value of x is now {x.value}')

The value of x is 3
The value of x is now 7

## Inheritance
Inheritance in OOP allows you to create a new class that has the same propeties (attributes and methods) as an existing class but adds addtional ones.

You create a new _derived class_, _subclass_ or _child class_ by putting the _parent class_ in brackets after the class definition:

`class ChildClass(ParentClass):`

eg:

`class Dog(Animal):`

In [44]:
class Animal:
  def __init__(self, size, colour, food):
    self._fav_food = food
    self._size = size
    self._colour = colour

  def feed(self):
    print(f"Yum, I love {self._fav_food}")

  def speak(self):
    print("Hello, I am a generic animal.")

class Mouse(Animal):
  def __init__(self, size, colour):
    Animal.__init__(self, size, colour, "cheese")

  def speak(self):
    print("Squeak!")

In [45]:
print("Generic Animal:")
bob = Animal(4, 'brown', 'nachos')
bob.speak()
bob.feed()

Generic Animal:
Hello, I am a generic animal.
Yum, I love nachos

In [46]:
print("Mouse:")
mickey = Mouse(1, 'black')
mickey.speak()
mickey.feed()

Mouse:
Squeak!
Yum, I love cheese

Once you have a new inherited class you can find out what type it is using either `type()` or `isinstance()`. 

Notice how the two functions behave differently? Is mickey a mouse or an animal?

### type()
`type(object)` returns a string that describes the exact type of the object. You can use it in an comparison to test against a particular class

In [47]:
x = 3
print(type(x))
if type(x) is int:
  print("x is an integer")
else:
  print("x is not an integer")

<class 'int'>
x is an integer

### isinstance()
Usually is is much better to use `isinstance()` instead:
`isinstance(object, type)` returns True if the object is the type specified **or** if it is a class that derives from that one.

In [48]:
print(type(bob))
print(type(bob) is Animal)
print(f'bob is an animal?: {isinstance(bob, Animal)}')
print(f'bob is a mouse?: {isinstance(bob, Mouse)}')

<class '__main__.Animal'>
True
bob is an animal?: True
bob is a mouse?: False

In [49]:
print(type(mickey))
print(type(mickey) == Animal)
print(f'mickey is an animal?: {isinstance(mickey, Animal)}')
print(f'mickey is a mouse?: {isinstance(mickey, Mouse)}')

<class '__main__.Mouse'>
False
mickey is an animal?: True
mickey is a mouse?: True

# Bitwise Logic
Boolean logic (and, or, not) usually operates on boolean values ie True or False.

It is possible to perform boolean logic on individual bits on an integer. Imagine the binary representation of a number. Then apply the logic operator to each bit individually. This leads to some slightly odd looking resutls if you view the numbers in denary (base 10).

In [50]:
x = 0b01101100    # Enter binary numbers by prefixing 0b
print(f'x = {x}')
print(f'x in binary is {x:08b} and in hex it is {x:X}\n')

x = 0b1100
y = 0b1010
print(f'x     = {x:b} -> {x}')
print(f'y     = {y:b} -> {y}')
print(f'x | y = {x|y:04b} -> {x|y}\n')

print(f'x     = {x:b} -> {x}')
print(f'y     = {y:b} -> {y}')
print(f'x & y = {x&y:04b} -> {x&y}\n')

print(f'x     = {x:b} -> {x}')
print(f'y     = {y:b} -> {y}')
print(f'x ^ y = {x^y:04b} -> {x^y}\n')

print(f'x           = {x:b} -> {x}')
print(f'~x          = {~x:04b} -> {~x} ** Uh oh, two\'s complement stuff going on here... **\n')
print(f'~x & 1111 = {~x & 0b1111:04b} -> {~x & 0b1111}\n')

x = 108
x in binary is 01101100 and in hex it is 6C

x     = 1100 -> 12
y     = 1010 -> 10
x | y = 1110 -> 14

x     = 1100 -> 12
y     = 1010 -> 10
x & y = 1000 -> 8

x     = 1100 -> 12
y     = 1010 -> 10
x ^ y = 0110 -> 6

x           = 1100 -> 12
~x          = -1101 -> -13 ** Uh oh, two's complement stuff going on here... **

~x & 1111 = 0011 -> 3

# Exception Handling

In [51]:
a = 0
b = 10 / a

ZeroDivisionError: division by zero

In [ ]:
a = 0
try:
  b = 10 / a
except ZeroDivisionError:
  print ("No, no, no. You tried to divide by zero.")
  b = 1

print(b)

No, no, no. You tried to divide by zero.
1

There is sometimes cost to using try except.

In [ ]:
import timeit
setup="a=0"
stmt1 = '''\
try:
    b=10/a
except ZeroDivisionError:
    pass'''

stmt2 = '''\
if a!=0:
    b=10/a'''

print("time=",timeit.timeit(stmt1,setup,number=10000))
print("time=",timeit.timeit(stmt2,setup,number=10000))

time= 0.0029667890003111097
time= 0.00031346699961432023

You can raise your own excpetions

In [ ]:
def food_choice(food):
  if food == "sardines":
    raise Exception("Poor food choice")
  else:
    print (f"Mmm, lovely, {food}")

food_choice("cheese")
food_choice("sardines")

Mmm, lovely, cheese

Exception: Poor food choice

In [ ]:
n = '3'
# n = '-3'
# n = '¼'
# n = '4²'
# n = '三'
print(n.isdigit())
print(n.isnumeric())
print(n.isdecimal())

True
True
True

In [ ]:
def food_choice(food):
  if food == "sardines":
    raise Exception("Poor food choice")
  else:
    print (f"Mmm, lovely, {food}")

food_choice("cheese")
try:
  food_choice("sardines")
except Exception:
  print("Yuck!")

In [ ]:
class InvalidFoodError(Exception):
  pass


def food_choice(food):
  if food == "sardines":
    raise InvalidFoodError("Poor food choice: sardines")
  elif food == "shepherd pie":
    raise InvalidFoodError("Bad pie.")
  else:
    print (f"Mmm, lovely, {food}")

#food_choice("cheese")
try:
  food_choice("shepherd pie")
except InvalidFoodError as message:
  print("Yuck!", message)

In [ ]:
# file handling 
  
# 1) without using with statement 
file = open('file_path', 'w') 
file.write('hello world !') 
file.close() 
  
# 2) without using with statement 
file = open('file_path', 'w') 
try: 
    file.write('hello world') 
finally: 
    file.close()

In [ ]:
# using with statement 
with open('file_path', 'w') as file: 
    file.write('hello world !')

In [ ]:
# define Python user-defined exceptions
class Error(Exception):
   """Base class for other exceptions"""
   pass
class ValueTooSmallError(Error):
   """Raised when the input value is too small"""
   pass
class ValueTooLargeError(Error):
   """Raised when the input value is too large"""
   pass
# our main program
# user guesses a number until he/she gets it right
# you need to guess this number
number = 10
while True:
   try:
       i_num = int(input("Enter a number: "))
       if i_num < number:
           raise ValueTooSmallError
       elif i_num > number:
           raise ValueTooLargeError
       break
   except ValueTooSmallError:
       print("This value is too small, try again!")
       print()
   except ValueTooLargeError:
       print("This value is too large, try again!")
       print()
print("Congratulations! You guessed it correctly.")

In [ ]:
help (Exception)
help (ZeroDivisionError)

# Reading and Writing Files

## Creating a new file
The old way: `open()` returns a file object that you can use to interact with the file. You must remember to use `close()` when you have finished.

In [ ]:
filename = "files\test.txt"
file = open(filename, 'w')
file.write("tested...")
file.close()

The newer way: Use `with open(...) as ...` The file will automatically be close at the end of the `with` block, even if an error occurs.

In [ ]:
filename = "test.txt"
with open(filename, 'w') as file:
  file.write("hello")

## Modes
`w`: writing - creates a new empty file

`r`: reading

`a`: append - writes to the end of an existing file (or creates a new one if it doesn't exist)

`w+`: writing and reading

`a+`: appending and reading

`r+`: reading and writing (fails if the file doesn't already exist)

## Writing text to a file
Whenever you want to read or write to a file in Python, you first need to _open_ the file. You do this by calling the `open()` function which returns a _file object_ that you can use later to refer to that file.

Open takes two parameters. The first is the name of the file you want to read or write. The second is a string which describes what you want to do with the file. If you want to create a competely new file to write to use `'w'`
```
file = open("test.txt", 'w')
```
NB: `file` here is just the identifier, i.e. the name we've given this file object. You can call it anything you like.

Once you have opened a file for writing, you can write text to it using `file.write()`. `write()` works  like `print()`. It writes a string to the file followed by a new line.

```
file.write("testing...")
```

When you have finished using a file, you must close it, so that other programs can access the file. If you don't close it, Python will usually close it for you when your program finishes, but you should always remember to explicityly close files anyway. Files can get corrupted if you don't

```
file.close()
```

## Reading from a file
Reading from a file works in a similar way to writing. You start by calling the open() function which returns a file object that you can use later to refer to that file.

Instead of using the "w" argument, this time you use "r" for _read_

`file = open("test.txt", 'r')`

Now you can read from the file using: file.read(), file.readline() or file.readlines()

|     |   |
|--|--|
|read()| Reads the entire file and creates a string. |
|readline()| Reads one line at a time. Can be used in a loop. |
|readlines()| Reads the entire file into a list. Each item is a line from the file.|

The following code would read the contents of a file into a list and then display the list
```
test_file = open('text.txt', 'r')
lines_list = test_file.readlines()
print(lines_list)
```


You can also simply iterate through the file that you opened and automatically fetch one line at a time:

```
for line in file:
    print(line.strip())
```

As before, you should always close the file when finished with it.

`file.close()`

In [ ]:
with open("test.txt", 'r') as file:
  text = file.readline()
  print(text)
  for line in file:
    print(line)

## Binary
It is also possible to write binary instead of text.

You can use the `bytes()` function to convert a list of integers into bytes

In [ ]:
filename = "test"
with open(filename, 'wb') as file:
  int_list = [x for x in range(256)]
  print("Int list:", int_list)
  file.write(bytes(int_list))

## CSV files

Using the csv module can make things a bit easier when dealing with csv files. For example you can state what kind of quote style you want eg:

quoting | effect
--|--
QUOTE_ALL | quote marks around every field
QUOTE_NONNUMERIC | quote marks around strings but not numbers
QUOTE_MINIMAL | quotes only used when necessary eg with special characters
QUOTE_NONE | No quotes

In [ ]:
import csv
with open('employee_file.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    employee_writer.writerow(['Name', 'Department', 'Birthday'])
    employee_writer.writerow(['John Smith', 'Accounting', 'November'])
    employee_writer.writerow(['Erica Meyers', 'IT', 'March'])

In [ ]:
import csv

with open('employee_file.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for i, row in enumerate(csv_reader):
        if i == 0:
            print(f'Column names are {", ".join(row)}')
        else:
            print(f'\t{row[0]} works in the {row[1]} department, and was born in {row[2]}.')
    print(f'Processed {i} lines.')

In [ ]:
with open('employee_file.csv','r') as csv_file:
    data = csv.DictReader(csv_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_NONNUMERIC)
    for row in data:
        print(row['Name'], row['Department'])

## JSON data

In [ ]:
import json
print("\nDictionary:")
data_dictionary = {"gold": 1271,"silver": 1284,"platinum": 1270}
print(data_dictionary)

print("\nString")
data_string = json.dumps(data_dictionary, indent=2)
print(data_string)

print("\nDictionary loaded from string:")
data = json.loads(data_string)
print(data)
print(data['gold'])

In [ ]:
import urllib.request
# download raw json object
name = 'fred'
url = f"https://api.agify.io/?name={name}"
data = urllib.request.urlopen(url).read().decode()
print(data)

## XML Files

In [ ]:
import xml.etree.ElementTree as et

# get root element
root = et.Element("bookstore")
new_book = et.SubElement(root, 'book', {'category':'comedy'})
# new_book.text = "A book"
title = et.SubElement(new_book, 'title')
title.text = "Watership Down"
author = et.SubElement(new_book, 'author')
author.text = "Richard Adams"
# new_book.set('price', '100')
# print(root)
xml_string = et.tostring(root).decode('utf8')
print(xml_string)

In [ ]:
import xml.etree.ElementTree as et

# get root element
root = et.Element("bookstore")

new_book = et.SubElement(root, 'book', {'category':'comedy'})
title = et.SubElement(new_book, 'title')
author = et.SubElement(new_book, 'author')
title.text = 'XML is Fun'
author.text = 'Mr Lomax'
new_book.set('year', '2020')
new_book.set('price', '100.00')

xml_string = et.tostring(root).decode('utf8')
print(xml_string)

with open("books.xml", "w") as xml_file:
        xml_file.write(xml_string)

In [ ]:
import xml.etree.ElementTree as et

with open("books.xml", 'r') as xmlfile:
    data = xmlfile.read()

root = et.fromstring(data)
print(et.tostring(root).decode('utf8'))

In [ ]:
import urllib.request
# url of rss feed
rssurl = 'https://api.coronavirus.data.gov.uk/v2/data?areaType=overview&metric=cumCasesByPublishDate&format=xml'
# creating HTTP response object from given url
resp = urllib.request.urlopen(rssurl)
resp.read().decode("utf8")

# SQLite3 Database

In [ ]:
import sqlite3

conn = sqlite3.connect('sample_data//chinook.db')
print("Opened database successfully")

cursor = conn.execute("SELECT * from albums where Title like '%piano%'")
for row in cursor:
    print(row[0], row[1])

print("Operation done successfully")
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")
conn.execute("DROP TABLE students")
conn.execute("CREATE TABLE students (StudentID INTEGER PRIMARY KEY AUTOINCREMENT, FirstName TEXT, LastName TEXT)")
names = ('Arthur','Dent'), ('Ford','Prefect'), ('Zaphod','Beeblebrox')
conn.executemany("INSERT INTO students (FirstName, LastName) VALUES (?, ?)", names)

results = conn.execute("SELECT * FROM students")
for row in results:
    print(row[0], row[1], row)

conn.commit()

print("Operation done successfully")
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

results = conn.execute("SELECT * FROM students")
for row in results:
    print(row[0], row[1], row)

print("Operation done successfully")
conn.close()

# Miscellaneous Notes

In [ ]:
import math
print((-9)**0.5)
print(math.sqrt(-9))

## 30th September 2020

In [ ]:
# Finonacci sequence
a = 1
b = 2
print(f'a: {a}, b: {b}')
# Three lines of code needed.
c = a+b
a = b
b = c
print(f'a: {a}, b: {b}')

###########

a = 1
b = 2
print(f'a: {a}, b: {b}')
# Or just one line using tuples
a, b = b, a+b
print(f'a: {a}, b: {b}')

In [ ]:
## Same technique used to swap two numbers
a, b = 1, 2
print(a, b)
a, b = b, a
print(a, b)

FizzBuzz:

If 3 and 5 are both factors, then 3x5 is a factor. So you can test for i % 15 == 0

In [ ]:
# This works but be reordering the if statements you could make some of the conditions implicit.
for x in range(1, 101):
  if x % 3 == 0 and not x % 5 == 0:
    print('FIZZ')
  elif x % 5 == 0 and not x % 3 == 0:
    print('BUZZ')
  elif x % 5 == 0 and x % 3 == 0:
    print('FIZZBUZZ')
  else:
    print(x)

In [ ]:
for x in range(1, 101):
  if x % 3 == 0 and x % 5 == 0:
    print("FizzBuzz")
  elif x % 3 == 0:
    print("Fizz")
  elif x % 5 == 0:
    print("Buzz")
  else:
    print(x)

In [ ]:
# What's wrong with the logic here?
def fizz_buzz():
    for i in range(100):
        x = i + 1
        if x % 3 == 0:
            if x % 3 == 0:
                print("Fizz")
            elif x % 5 == 0:
                print("FizzBuzz")
        elif x % 5 == 0:
            print("Buzz")
        else:
            print(x)

fizz_buzz()

In [ ]:
# An alternative solution
for i in range(1,101):
    if i % 3 == 0: print('Fizz', end='')
    if i % 5 == 0: print('Buzz', end='')
    if i % 3 and i % 5: print(i, end='')
    print()

## 2nd October 2020 - Happy Numbers

In [ ]:
# Happy numbers
def is_happy(test_number):
    while test_number != 1:
        # If the new test number is a 4 it would cycle for ever, so the number must be sad.
        if test_number == 4 or test_number == 0:
            return False

        # Cast integer to string for indexing each digit
        test_string = str(test_number)
        total = 0
        # Calculate each digit in the number
        for digit in test_string:
            # Cast the digit to an integer
            digit = int(digit)
            # Calculate the new number
            total = total + (digit * digit)
        test_number = total
    return True

In [ ]:
is_happy(7)

In [ ]:
happy_list = []
for i in range(1, 100000):
    if is_happy(i):
        happy_list.append(i)

print(happy_list)

In [ ]:
def is_happy_optimised1(test_number):
    while test_number != 1:
        # If the new test number is a 4 it would cycle for ever, so the number must be sad.
        if test_number in {0, 4, 16, 37, 58, 89, 145, 42, 20}:
            return False

        # Cast integer to string for indexing each digit
        test_string = str(test_number)
        total = 0
        # Calculate each digit in the number
        for digit in test_string:
            # Cast the digit to an integer
            digit = int(digit)
            # Calculate the new number
            total = total + (digit * digit)
        test_number = total
    return True

In [ ]:
def is_happy_optimised2(test_number):
    happy_set = {1}
    while test_number not in happy_set:
        # If the new test number is a 4 it would cycle for ever, so the number must be sad.
        if test_number in {0, 4, 16, 37, 58, 89, 145, 42, 20}:
            return False

        # Cast integer to string for indexing each digit
        test_string = str(test_number)
        total = 0
        # Calculate each digit in the number
        for digit in test_string:
            # Cast the digit to an integer
            digit = int(digit)
            # Calculate the new number
            total = total + (digit * digit)
        test_number = total
        happy_set.add(test_number)
    return True

In [ ]:
def is_happy_optimised3(test_number):
    happy_set = {1}
    while int(''.join(sorted(str(test_number)))) not in happy_set:
        # If the new test number is a 4 it would cycle for ever, so the number must be sad.
        if test_number in {0, 4, 16, 37, 58, 89, 145, 42, 20}:
            return False

        # Cast integer to string for indexing each digit
        test_string = str(test_number)
        total = 0
        # Calculate each digit in the number
        for digit in test_string:
            # Cast the digit to an integer
            digit = int(digit)
            # Calculate the new number
            total = total + (digit * digit)
        test_number = total
        happy_set.add(int(''.join(sorted(str(test_number)))))
    return True

In [ ]:
import time

# Test every number between 1 and 1000.
# Add it to a list if it is happy.
def time_test(happy_func, n):
    t1 = time.perf_counter()
    happy_list = []
    for i in range(1, n):
        if happy_func(i):
            happy_list.append(i)
        # print(f'{i}: {is_happy(i)}')
    return time.perf_counter()-t1


def test_multiple_functions(function_list, n, i):
    for test_func in function_list:
        t = 0
        for _ in range(i):
            t += time_test(test_func, n)

        print(f"{test_func.__name__}: t = {t / i:.5f}")


test_multiple_functions([is_happy, is_happy_optimised1, is_happy_optimised2, is_happy_optimised3], 100, 10)